<html>

<head>


 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src='js/handlebars-v3.0.3.js'></script>
    

</head>
<body>

<div class="container" id='placeHolder'>
	If you're seeing this, you are not logged in... Please dude, don't even try.
	<a href='/'>Login mate</a>
</div>
</body>
</html>