<div class="well">
	                <h3 class="text-info">You Are logged in as</h3>
	                    <p>
	                        <strong>Name</strong>: {{name}}<br>
	                        
	                    </p>

	                    <a href="#" id='createBtn' class="btn btn-info">Create News</a>
	                    <a href="/logout" id='logoutBtn' class="btn btn-info">Log Out</a>
</div>